<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71cM2ZQQekL._AC_SX569_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Toplus Fitness Tracker</h3>
                <p class="description">Fitness Tracker, Activity Tracker for Heart Monitor, Sleep Tracker, Smart Watch with GPS, Calorie Counter, Step Counter, Sports Watch for Men and Women</p>
                <div class="clearfix">
                    <div class="price pull-left">$19.99</div>
                    <a href="https://www.amazon.com/Toplus-Fitness-Tracker-Activity-Monitor/dp/B08ML9HNPD/ref=sr_1_1_sspa?dchild=1&keywords=fitness+GPS&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=67c6cf47-c067-447f-a799-b2cb009a7a6e&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-8&pf_rd_t=101&qid=1616866637&sr=8-1-spons&psc=1&smid=A3505G2PZQ91OY&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyR1cwM1kySVUzWlcwJmVuY3J5cHRlZElkPUEwNTA3NzA5MlhPM0lWUDgxVUVFOSZlbmNyeXB0ZWRBZElkPUEwNTc0NjI1MkpZMlpLNVFRTUZNJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71VB--jaeSL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>WD 2TB Elements Portable External Hard Drive</h3>
                <p class="description">HDD, USB 3.0, Compatible with PC, Mac, PS4 & Xbox - WDBU6Y0020BBK-WESN</p>
                <div class="clearfix">
                    <div class="price pull-left">$59.99</div>
                    <a href="https://www.amazon.com/Western-Digital-Elements-Portable-External/dp/B06W55K9N6/ref=sr_1_1_sspa?dchild=1&keywords=hard+drives&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=516a7b4e-d342-442c-96c9-4fbeb114cb90&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616866587&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExOE1PQ1FUQ0VLRjJVJmVuY3J5cHRlZElkPUEwODExMzU3M0ZFWENTR1Y0SjhHNCZlbmNyeXB0ZWRBZElkPUEwMTk0ODY5MjMwQkFWNjE2MUZFNCZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71arQOG5qPL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Lenovo IdeaPad 3 15" Laptop</h3>
                <p class="description">15.6" HD (1366 x 768) Display, AMD Ryzen 3 3250U Processor, 4GB DDR4 Onboard RAM, 128GB SSD, AMD Radeon Vega 3 Graphics, Windows 10, 81W10094US, Business Black</p>
                <div class="clearfix">
                    <div class="price pull-left">$359</div>
                    <a href="https://www.amazon.com/Lenovo-Processor-Graphics-81W10094US-Business/dp/B0872K4XCJ/ref=sr_1_1_sspa?crid=2GD9704ZSJ6XU&dchild=1&keywords=laptops&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=516a7b4e-d342-442c-96c9-4fbeb114cb90&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616866306&sprefix=laptops%2Caps%2C236&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExV1daU1BLVUVSUkcwJmVuY3J5cHRlZElkPUEwOTY4Nzc1MzBFWFREOFQzUDc0RCZlbmNyeXB0ZWRBZElkPUEwMzc0Njk0Nkg2TFBGMFFQTEY1JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81QHs72jALL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>GPARK 12 Pieces Wisteria Artificial Flower</h3>
                <p class="description">45 inch Bushy Silk Vine Ratta Hanging Garland Hanging for Wedding Party Garden Outdoor Greenery Office Wall Decoration Milk White</p>
                <div class="clearfix">
                    <div class="price pull-left">$22</div>
                    <a href="https://www.amazon.com/GPARK-Wisteria-Artificial-Greenery-Decoration/dp/B075VRD8X2/ref=sr_1_16?dchild=1&keywords=garland&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866867&sr=8-16" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71F-sT9oK3L._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>CraftsOfEgypt Single White Alabaster Candle Holder</h3>
                <p class="description">Egyptian Tealight and Votive Candles Holders with Amber Glow for Home Décor - Natural Stone Soothing Tranquil</p>
                <div class="clearfix">
                    <div class="price pull-left">$19.99</div>
                    <a href="https://www.amazon.com/Egyptian-alabaster-carved-candle-holder/dp/B00G95GOIM/ref=sr_1_1_sspa?dchild=1&keywords=votives&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866856&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyN0I4OTROWjBJUFQ1JmVuY3J5cHRlZElkPUEwOTg3ODYyMjZXQ01JWDBTQkgmZW5jcnlwdGVkQWRJZD1BMDQyMTA5M1AxTzdXSEY1Sk1HVSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91yokJlTntL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>National Tree Company Artificial Christmas Centerpiece</h3>
                <p class="description">Flocked with Mixed Decorations and LED Lights | Crestwood Spruce - 30 Inch</p>
                <div class="clearfix">
                    <div class="price pull-left">$34.99</div>
                    <a href="https://www.amazon.com/National-Tree-Crestwood-Centerpiece-CW7-300-30C-B1/dp/B00NEELT0Y/ref=sr_1_1?dchild=1&keywords=centerpieces&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866854&sr=8-1" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91yokJlTntL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>National Tree Company Artificial Christmas Centerpiece</h3>
                <p class="description">Flocked with Mixed Decorations and LED Lights | Crestwood Spruce - 30 Inch</p>
                <div class="clearfix">
                    <div class="price pull-left">$34.99</div>
                    <a href="https://www.amazon.com/National-Tree-Crestwood-Centerpiece-CW7-300-30C-B1/dp/B00NEELT0Y/ref=sr_1_1?dchild=1&keywords=centerpieces&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866854&sr=8-1" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91yokJlTntL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>National Tree Company Artificial Christmas Centerpiece</h3>
                <p class="description">Flocked with Mixed Decorations and LED Lights | Crestwood Spruce - 30 Inch</p>
                <div class="clearfix">
                    <div class="price pull-left">$34.99</div>
                    <a href="https://www.amazon.com/National-Tree-Crestwood-Centerpiece-CW7-300-30C-B1/dp/B00NEELT0Y/ref=sr_1_1?dchild=1&keywords=centerpieces&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866854&sr=8-1" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91yokJlTntL._AC_SL1500_.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>National Tree Company Artificial Christmas Centerpiece</h3>
                <p class="description">Flocked with Mixed Decorations and LED Lights | Crestwood Spruce - 30 Inch</p>
                <div class="clearfix">
                    <div class="price pull-left">$34.99</div>
                    <a href="https://www.amazon.com/National-Tree-Crestwood-Centerpiece-CW7-300-30C-B1/dp/B00NEELT0Y/ref=sr_1_1?dchild=1&keywords=centerpieces&pf_rd_i=21439846011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=d108f598-c36c-4aa2-b2be-60da54291f9f&pf_rd_r=2K6G9RNVY5CBZ5E80T3C&pf_rd_s=merchandised-search-18&pf_rd_t=101&qid=1616866854&sr=8-1" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>